<a href="https://colab.research.google.com/github/Scott-S-Lin/NTUT_PhD/blob/main/FIDDLE_hands_on.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download files

In [ ]:
# Download formatted sample data, PhysioNet Challenge 2012
# https://physionet.org/content/challenge-2012/
!gdown -q --id '1LabZCw6Ryjv1wwT4dWbQTWPvsehM6WiX'
!gdown -q --id '16UlO3E9q5pDmn_K6wgAelAwg2IhsQJtX'
!gdown -q --id '1JcO7FYY5QAix2Ui-dAlK8rEq9XGu_9sC'
!mkdir -p physionet_2012_data

# Download FIDDLE and unzip
!rm -rf FIDDLE FIDDLE-master.zip 
!wget -q https://gitlab.eecs.umich.edu/mld3/FIDDLE/-/archive/v0.1.0/FIDDLE-v0.1.0.zip
!unzip -qq -j FIDDLE-v0.1.0.zip 'FIDDLE-v0.1.0/FIDDLE/*' -d FIDDLE/

# Update packages
!pip install -q -U pyyaml sparse scikit-learn
!pip install -q -U icd9cms icd10-cm

# DONE
!echo 'DONE!'

     |████████████████████████████████| 276kB 2.7MB/s
     |████████████████████████████████| 81kB 7.3MB/s
     |████████████████████████████████| 6.8MB 42.2MB/s
     |████████████████████████████████| 3.1MB 39.2MB/s
     |████████████████████████████████| 24.6MB 38.2MB/s
  Building wheel for pyyaml (setup.py) ... done
     |████████████████████████████████| 1.2MB 2.7MB/s
     |████████████████████████████████| 675kB 18.0MB/s
DONE!

In [ ]:
import numpy as np
import pandas as pd
import sparse
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
df_input = pd.read_csv('./physionet_2012_input_data.csv')

# Input data

In [ ]:
df_input.head(50)

        ID         t variable_name variable_value
0   132539       NaN           Age           54.0
1   132539       NaN        Gender             _0
2   132539       NaN       ICUType             _4
3   132539  0.116667           GCS           15.0
4   132539  0.116667            HR           73.0
5   132539  0.116667     NIDiasABP           65.0
6   132539  0.116667         NIMAP          92.33
7   132539  0.116667      NISysABP          147.0
8   132539  0.116667      RespRate           19.0
9   132539  0.116667          Temp           35.1
10  132539  0.116667         Urine          900.0
11  132539  0.616667            HR           77.0
12  132539  0.616667     NIDiasABP           58.0
13  132539  0.616667         NIMAP           91.0
14  132539  0.616667      NISysABP          157.0
15  132539  0.616667      RespRate           19.0
16  132539  0.616667          Temp           35.6
17  132539  0.616667         Urine           60.0
18  132539  1.616667            HR           60.0
19  132539  1.616667     NIDiasABP           62.0
20  132539  1.616667         NIMAP           87.0
21  132539  1.616667      NISysABP          137.0
22  132539  1.616667      RespRate           18.0
23  132539  1.616667         Urine           30.0
24  132539  2.616667            HR           62.0
25  132539  2.616667     NIDiasABP           52.0
26  132539  2.616667         NIMAP          75.67
27  132539  2.616667      NISysABP          123.0
28  132539  2.616667      RespRate           19.0
29  132539  2.616667         Urine          170.0
30  132539  3.133333           HCT           33.7
31  132539  3.616667           GCS           15.0
32  132539  3.616667            HR           80.0
33  132539  3.616667     NIDiasABP           52.0
34  132539  3.616667         NIMAP          72.67
35  132539  3.616667      NISysABP          114.0
36  132539  3.616667      RespRate           20.0
37  132539  3.616667          Temp           37.8
38  132539  3.616667         Urine           60.0
39  132539  4.616667            HR           74.0
40  132539  4.616667      RespRate           20.0
41  132539  5.616667            HR           73.0
42  132539  5.616667     NIDiasABP           45.0
43  132539  5.616667         NIMAP          66.67
44  132539  5.616667      NISysABP          110.0
45  132539  5.616667      RespRate           17.0
46  132539  5.616667         Urine          170.0
47  132539  7.616667           GCS           15.0
48  132539  7.616667            HR           64.0
49  132539  7.616667     NIDiasABP           49.0

# Run FIDDLE (takes ~1min)

In [ ]:
!echo 'parallel = False' >> ./FIDDLE/config.py   # turns off parallelization

In [ ]:
!python -m FIDDLE.run \
    --data_path='./physionet_2012_data/' \
    --input_fname='./physionet_2012_input_data.csv' \
    --population='./physionet_2012_pop.csv' \
    --T=48 \
    --dt=24 \
    --theta_1=0.01 --theta_2=0.01 --theta_freq=1 \
    --binarize=no \
    --stats_functions 'min' 'max' 'mean' \
    --N=200

Input data file: ./physionet_2012_input_data.csv

Input arguments:
    T      = 48
    dt     = 24.0
    θ₁     = 0.01
    θ₂     = 0.01
    θ_freq = 1.0
    k      = 3 ['min', 'max', 'mean']
binarize = no

N = 200
L = 2


================================================================================
1) Pre-filter
================================================================================
Remove rows not in population
Remove rows with t outside of [0, 48]
2020-10-13 17:52:20,800: NumExpr defaulting to 2 threads.
Remove rare variables (<= 0.01)
Total variables     : 41
Rare variables      : 0
Remaining variables : 41
# rows (original)   : 81088
# rows (filtered)   : 81088

================================================================================
2) Transform; 3) Post-filter
================================================================================

--------------------------------------------------------------------------------
*) Detecting and parsing value types
--------------------------------------------------------------------------------
Saved as: ./physionet_2012_data/value_types.csv

--------------------------------------------------------------------------------
*) Separate time-invariant and time-dependent
--------------------------------------------------------------------------------
Variables (time-invariant): 5
Variables (time-dependent): 36
# rows    (time-invariant): 890
# rows    (time-dependent): 80198

--------------------------------------------------------------------------------
2-A) Transform time-invariant data
--------------------------------------------------------------------------------
(N × ^d) table            :	 (200, 5)
number of missing entries :	 110 out of 1000 total
Time elapsed: 0.024386 seconds

Output
s_all, binary features    :	 (200, 9)
Time elapsed: 0.059040 seconds

--------------------------------------------------------------------------------
3-A) Post-filter time-invariant data
--------------------------------------------------------------------------------
Original       : 9
Nearly-constant: 0
Correlated     : 1
Time elapsed: 0.075982 seconds

Output
s: shape=(200, 8), density=0.563
Total time: 0.078183 seconds


--------------------------------------------------------------------------------
2-B) Transform time-dependent data
--------------------------------------------------------------------------------
Total variables    : 36
Frequent variables : ['BUN', 'Creatinine', 'DiasABP', 'FiO2', 'GCS', 'Glucose', 'HCO3', 'HCT', 'HR', 'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP', 'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2', 'SysABP', 'Temp', 'Urine', 'WBC', 'pH']
M₁ = 28
M₂ = 8
k  = 3 ['min', 'max', 'mean']

Transforming each example...
100% 200/200 [00:43<00:00,  4.56it/s]
DONE: Transforming each example...
(freq) number of missing entries :	 2540 out of 200×2×28=11200 total
(freq) number of imputed entries :	 467
(freq) number of not imputed entries :	 2073
(non-freq) number of missing entries :	 2537 out of 200×2×8=3200 total

(N × L × ^D) table :	 (200, 2, 176)
Time elapsed: 44.144637 seconds
Discretizing features...

Discretizing categorical features...
100% 148/148 [00:00<00:00, 246.64it/s]
Finished discretizing features

Output
X_all: shape=(200, 2, 176), density=0.810
Time elapsed: 44.888216 seconds

--------------------------------------------------------------------------------
3-B) Post-filter time-dependent data
--------------------------------------------------------------------------------
(200, 2, 176) 0.8095596590909091
Original : 176
Nearly-constant: 8
*** time:  5.214055061340332
Correlated     : 8
*** time:  8.262696504592896

Output
X: shape=(200, 2, 160), density=0.844
(200, 2, 160) 0.8436875
Time elapsed: 53.151392 seconds

Output
X: shape=(200, 2, 160), density=0.844
Total time: 53.213653 seconds

# Train a model

In [ ]:
X = sparse.load_npz('{data_path}/X.npz'.format(data_path='physionet_2012_data')).todense()
s = sparse.load_npz('{data_path}/s.npz'.format(data_path='physionet_2012_data')).todense()
y = pd.read_csv('physionet_2012_labels.csv')['In-hospital_death']

N,L,D = X.shape
_,d = s.shape

X_all = np.hstack([s, X.reshape((N,L*D))])
y_all = y[:N]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_all = scaler.fit_transform(X_all)

print(X_all.shape, y_all.shape)
Xtr, Xte, ytr, yte = train_test_split(X_all, y_all, stratify=y_all, random_state=1)

(200, 328) (200,)

In [ ]:
clf = LogisticRegression()
clf.fit(Xtr, ytr)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [ ]:
score = metrics.roc_auc_score(yte, clf.decision_function(Xte))
print('Test AUROC score:', score)

Test AUROC score: 0.7272727272727273